{
  "extends": "airbnb-base",
  "plugins": ["import"],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ]
  }
}
